@define-color foreground #e5e8ed;
@define-color background #0C0F14;
@define-color cursor #e5e8ed;

@define-color color0 #0C0F14;
@define-color color1 #929FB0;
@define-color color2 #9FADC0;
@define-color color3 #B0B9CA;
@define-color color4 #BBC3D3;
@define-color color5 #C6CDDB;
@define-color color6 #D2D8E6;
@define-color color7 #e5e8ed;
@define-color color8 #a0a2a5;
@define-color color9 #929FB0;
@define-color color10 #9FADC0;
@define-color color11 #B0B9CA;
@define-color color12 #BBC3D3;
@define-color color13 #C6CDDB;
@define-color color14 #D2D8E6;
@define-color color15 #e5e8ed;
