@define-color foreground #cbf478;
@define-color background #01090C;
@define-color cursor #cbf478;

@define-color color0 #01090C;
@define-color color1 #289805;
@define-color color2 #4EA70B;
@define-color color3 #62D107;
@define-color color4 #78FA01;
@define-color color5 #9FA109;
@define-color color6 #8CFE00;
@define-color color7 #cbf478;
@define-color color8 #8eaa54;
@define-color color9 #289805;
@define-color color10 #4EA70B;
@define-color color11 #62D107;
@define-color color12 #78FA01;
@define-color color13 #9FA109;
@define-color color14 #8CFE00;
@define-color color15 #cbf478;
