@define-color foreground #b7c6d7;
@define-color background #1b1e25;
@define-color cursor #b7c6d7;

@define-color color0 #1b1e25;
@define-color color1 #6C869A;
@define-color color2 #7694AE;
@define-color color3 #789AB2;
@define-color color4 #7C9FC1;
@define-color color5 #819EBB;
@define-color color6 #86ABBD;
@define-color color7 #b7c6d7;
@define-color color8 #808a96;
@define-color color9 #6C869A;
@define-color color10 #7694AE;
@define-color color11 #789AB2;
@define-color color12 #7C9FC1;
@define-color color13 #819EBB;
@define-color color14 #86ABBD;
@define-color color15 #b7c6d7;
