@define-color foreground #d2d2d2;
@define-color background #0d0d0d;
@define-color cursor #d2d2d2;

@define-color color0 #0d0d0d;
@define-color color1 #585858;
@define-color color2 #676767;
@define-color color3 #787878;
@define-color color4 #878787;
@define-color color5 #989898;
@define-color color6 #A7A7A7;
@define-color color7 #d2d2d2;
@define-color color8 #939393;
@define-color color9 #585858;
@define-color color10 #676767;
@define-color color11 #787878;
@define-color color12 #878787;
@define-color color13 #989898;
@define-color color14 #A7A7A7;
@define-color color15 #d2d2d2;
