@define-color foreground #b7c6d7;
@define-color background #1b1e25;
@define-color cursor #b7c6d7;

@define-color color0 #1b1e25;
@define-color color1 #6E8A9F;
@define-color color2 #7695AE;
@define-color color3 #7D9FC1;
@define-color color4 #809FBE;
@define-color color5 #86AABE;
@define-color color6 #92C1BF;
@define-color color7 #b7c6d7;
@define-color color8 #808a96;
@define-color color9 #6E8A9F;
@define-color color10 #7695AE;
@define-color color11 #7D9FC1;
@define-color color12 #809FBE;
@define-color color13 #86AABE;
@define-color color14 #92C1BF;
@define-color color15 #b7c6d7;
