* {
font-family: "Cozette", monospace !important;
font-size: 13px !important;
line-height: 13px !important;
-webkit-font-smoothing: none !important;
-moz-osx-font-smoothing: unset !important;
font-smooth: never !important;
transform: none !important;
}

@-moz-document url-prefix(about:), url-prefix(chrome://browser/content/) {
* {
font-family: "Cozette", monospace !important;
font-size: 13px !important;
line-height: 13px !important;
}
}
