* :not([class*="icon"]):not([class*="fa-"]):not([class*="material"]):not([class*="glyph"]):not(svg):not([role="img"]) {
font-family: "CozetteVector", monospace !important;
font-size: 13px !important;
line-height: 13px !important;
-webkit-font-smoothing: none !important;
-moz-osx-font-smoothing: unset !important;
font-smooth: never !important;
text-rendering: optimizeSpeed !important;
transform: none !important;
min-font-size: 0 !important;
font-size-adjust: none !important;
}
