* {
font-family: "Cozette", monospace !important;
font-size: 13px !important;
line-height: 13px !important;
-webkit-font-smoothing: none !important;
-moz-osx-font-smoothing: unset !important;
font-smooth: never !important;
text-rendering: optimizeSpeed !important;
transform: none !important;
}

h1, h2 {
font-size: 26px !important;
line-height: 26px !important;
}
